{% extends 'base.html' %}
{% block contents %}
    <br>
    <br>
    <div class="container" style="width: max-content; background-color: rgba(200,200,220,0.5)" >
        <a href="http://127.0.0.1:8000//mp/default/"><h1 style = "font-family: 'Lucida Handwriting'; color: powderblue">List of Minor Planets</h1></a>
        <br><br><br><br>
        <a href="http://127.0.0.1:8000//astronomers/default/"><h1 style = "font-family: 'Lucida Handwriting'; color: navy">List of Astronomers</h1></a>
    </div>

{% endblock %}
