{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contents %}
    {% if request.user.is_authenticated %}
    <form method="post" style="width: calc(50%); margin-top: 10px; background-color: rgba(51, 51, 136, 0.85) "
          xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    {% crispy form%}
        <button type="submit" id = "cell" style="width: 160px; margin-right: 10px; background-color: rgba(200, 200, 225, 0.85)"><h3>Submit</h3></button>

  </form>
    {% endif %}

{% endblock %}