$box-colour1: #993344;
$bg-colour1: #5ca779;
$bg-colour2: #6c67e9;
$font1:    Times New Roman, serif;

@media  screen and (min-width: 800px) {
    #table {
        width: calc(99% + 99px);
        font-family: "Calisto MT", serif;
        height: 140px;
        box-shadow: 0 1px 3px 1px #969494;
        background: linear-gradient(to bottom, $bg-colour2, $box-colour1)  no-repeat;
        border-color: floralwhite;
    }

    #info{
        width: calc(90% + 100px);
        padding-bottom: 7px;
        margin-left: 10px;
        margin-right: 20px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.7);
        box-shadow: 0 1px 3px 1px #969494;
        background: linear-gradient(to bottom, $bg-colour2, $box-colour1) no-repeat;
        border-color: floralwhite;
    }
    li{
        font-size: 1em;
    }}

    h1{
        font-family: $font1;
    }
    h2{
        font-family: $font1;
    }
    .background_col
    {
        height: 100%;
        background: linear-gradient(to bottom, $bg-colour1, $bg-colour2) no-repeat;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    #highlight-text{
        padding-left: 40px;
        background-color: rgba(saturate($box-colour1, 20% ), .6);

    }